<app-loader *ngIf="!isLoaded"></app-loader>


<table *ngIf="isLoaded" class="table">
  <tbody>
  <tr class="row">
    <th class="cell cell-header">Vehicle name with the largest sum</th>
    <td class="cell">{{topVehicle.name}}</td>
  </tr>
  <tr>
    <th class="cell cell-header">Related home planets and their respective population</th>
    <td class="cell">
      <div *ngFor="let planet of topVehicle.planets"> {{planet.name}}: {{planet.population}}</div>
    </td>
  </tr>
  <tr>
    <th class="cell cell-header">Related pilot names</th>
    <td class="cell">
      <div *ngFor="let pilot of topVehicle.pilots"> {{pilot.name}}</div>
    </td>
  </tr>

  </tbody>
</table>
