:host {
  display: flex;
  height: 300px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.table {
  color: white;
  font-size: 17px;
  font-weight: 400;

  .cell {
    padding: 20px;
    text-align: left;

    &-header {
      font-weight: 300;
    }
  }


}
